#question{
  text-align: center;
  font-size: 200%;
  padding: 2% 10%;
  border: 4px black solid;
  /* margin-bottom: 1%; */
  background-color: whitesmoke;
}

div #resChoices {
  height: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blanchedalmond; */
}

div > button {
  width: 25%;
  padding: 1% 3%;
  text-align: center;
  font-size: 150%;
  margin: 10px auto;
  border-radius: 15px;
  border: 3px black solid;
  background-color: aliceblue;
}
div > button:hover{
  padding: 1.1% 3.1%;
  background-color: aquamarine;
}

#start {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

#timer {
  height: 100px;
  display: flex;
  justify-content: end;
}

#count {
  height: 100px;
  width: 5%;
  /* margin: 5px 5px; */
  background-color: greenyellow;
}